<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new boat tour</title>
</head>
<body>

<h1>Create new boat tour</h1>

<form th:action="@{/boattour/new}" method="post" th:object="${boatTour}">
    <table>
        <tr>
            <td><label for="boatField">Boat</label></td>
            <td><label for="guideField">Guide</label></td>
            <td><label for="skipperField">Skipper</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="boatField" th:field="*{boat}" />
            </td>
            <td>
                <input type="text" id="guideField" th:field="*{guide}" />
            </td>
            <td>
                <select id="skipperField" th:field="*{skippers}" multiple>
                    <option th:each="skipper : ${allSkippers}"
                            th:text="${skipper.name}"
                            th:value="${skipper.skipperId}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save boat tour"/>

</form>
</body>
</html>