<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Create new boat tour</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Create new boat tour</h1>

    <form th:action="@{/boattour/new}" method="post" th:object="${boatTour}">

        <input type="hidden" th:field="*{boatTourId}">
        <table>
            <tr>
                <td><label for="boatField">Boat</label></td>
                <td><label for="guideField">Guide</label></td>
                <td><label for="skipperField">Skipper</label></td>
            </tr>
            <tr>
                <td>
                    <select id="boatField" th:field="*{boats}" multiple>
                        <option th:each="boat : ${allBoats}"
                                th:text="${boat.name}"
                                th:value="${boat.boatID}">
                        </option>
                    </select>
                </td>
                <td>
                    <select id="guideField" th:field="*{guides}" multiple>
                        <option th:each="guide : ${allGuides}"
                                th:text="${guide.name}"
                                th:value="${guide.guideID}">
                        </option>
                    </select>
                </td>
                <td>
                    <select id="skipperField" th:field="*{skippers}" multiple>
                        <option th:each="skipper : ${allSkippers}"
                                th:text="${skipper.name}"
                                th:value="${skipper.skipperId}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="Save boat tour"/>

    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>